<header>
    <h1>Sistema Electoral Estudiantil</h1>
</header>

<main>
    <div id="imagen-container">
        <img src="../../../assets/imagenes/banderin.png" alt="Imagen principal" id="imagen-principal">
    </div>
    
    <div id="contenido">
        <section class="punto">
            <h2>Blockchain</h2>
            <p>Explora la innovadora tecnología de blockchain que utilizamos para garantizar la transparencia y seguridad en nuestros procesos electorales. Cada voto queda registrado de manera inmutable.</p>
        </section>

        <section class="punto">
            <h2>Sistemas Estudiantiles</h2>
            <p>Descubre cómo nuestros sistemas estudiantiles fomentan la participación activa y democrática de los estudiantes en la toma de decisiones. Impulsamos la voz estudiantil en cada elección.</p>
        </section>

        <section class="punto">
            <h2>Integridad de los Votos</h2>
            <p>Nos comprometemos a garantizar la integridad de cada voto emitido. Con protocolos robustos y sistemas seguros, velamos por la legitimidad y confiabilidad de nuestros procesos electorales.</p>
        </section>
    </div>
</main>

<footer>
    <p>&copy; 2023 - Diego Villacis</p>
</footer>
