<header id="home-section">
    <div class="dark-overlay">
        <div class="home-inner">
            <div class="d-flex justify-content-around flex-wrap">
                <div class="Cajas">
                    <mat-card class="mat-elevation-z8">
                        <img class="logo" src="../../../assets/imagenes/cuenta.png" alt="img login">
                        <h4>Login</h4>
                        <form [formGroup]="CredencialesLoggin">
                            <mat-form-field >
                                <mat-icon></mat-icon>
                                <mat-label>Correo electrónico</mat-label>
                                <input matInput trimKeyUp  [formControl]="emailCtrl" required>
                                <mat-icon matSuffix>email</mat-icon>
                            </mat-form-field>
                            <mat-form-field >
                                <mat-icon></mat-icon>
                                <mat-label>Contraseña</mat-label>
                                <input (keyup.enter)="IniciarSession(CredencialesLoggin.value)" matInput [type]="hide1 ? 'password' : 'text'" [formControl]="passwordCtrl" required>
                                <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                                    <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </form>
                        <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="IniciarSession(CredencialesLoggin.value)" [disabled]="!CredencialesLoggin.valid">Ingresar</button>
                        <br>

                    </mat-card>
                </div>

            </div>
        </div>
    </div>
</header>